Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.zip
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
*.stackdump
WinFreeREG/WinFreeREGSetup/WinFreeREGSetup/Express/SingleImage/LogFiles/*
WinFreeREG/WinFreeREGSetup/WinFreeREGSetup/Express/SingleImage/Reports/*
WinFreeRegSetup/WinFreeRegSetup/Express/SingleImage/Reports/*.htm
WinFreeRegSetup/WinFreeRegSetup/Express/SingleImage/LogFiles/*.txt
